h1{    
    color :rgb(193, 152, 152);    
    font-size: 2em;
    margin-bottom: 10px;        
}

h2{
    text-align: center;
    color: beige;
    background-color: #131313;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}
body{
   
    text-align: center;
    color: beige;
    background-color: #390f0f;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}
.align{
    display : flex;
}
.image{
    height : 200px;
    width : 500px;
}
.Blog{
    background-color: #c42a2a;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}
.content{
    
    text-align: center;
    color: beige;
    background-color: #390f0f;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}